<div>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="2">
        <md-toolbar>
            <md-toolbar class="md-indigo md-tall">
                <div class="md-toolbar-tools">
                    <h2>
                      <span>MENU</span>
                    </h2>
                </div>
            </md-toolbar>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item ng-repeat="m in menu" ng-click="goTo(m.url)">
                    <p>{{m.nome}}</p>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
</div>
