<nav>
    <div class="nav-wrapper blue">
        <a href="#!" class="brand-logo">&nbsp;Sagaz</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li ng-repeat="m in menu" ng-class="{active:states.urlActive ==  m.url}">
                <a href="#{{ m.url }}" ng-click="states.urlActive = m.url">
                    {{m.nome}}
                    {{urlActive}}
                </a>
            </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li ng-repeat="m in menu">
                <a href="#/{{ m.url }}">{{ m.nome }}</a>
            </li>
        </ul>
    </div>
</nav>
