
<div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
                 </p>
            </div>
            <div class="card-action">
                <div class="chip">
               Familia
               <i class="material-icons">close</i>
             </div>
             <div class="chip blue white-text">
            Trabalho
            <i class="material-icons">close</i>
          </div>
            </div>
          </div>
        </div>
      </div>
