<form name="formulario" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title">
                <small class="pull-right">
                    <a ui-sref='app.tarefa-list' class="btn btn-default btn-sm">
                        Voltar
                    </a>
                    <button class="btn btn-primary btn-sm" ng-disabled="formulario.$invalid" ng-click="salvar(tarefa)" >
                        Salvar
                    </button>
                </small>
                Cadastro de Tarefa
            </h4>
        </div>
        <div class="panel-body">
            
        </div>
    </div>
</form>
