<div ng-if="projetos.length <= 0">
    <h3>Nenhum projeto cadastrado</h3>
</div>
<div class="panel panel-default" ng-repeat="p in projetos" ng-if="projetos.length > 0">
    <div class="panel-heading">
        <h4 class="page-title">
            <small class="pull-right">
                <small class="label label-info" ng-if="p.faturar == 'hora'">FATURAR POR HORA</small>
                <small class="label label-primary" ng-if="p.faturar == 'projeto'">FATURAR POR PROJETO</small>
                <a href="#/app/projeto/cadastro/{{ p.id }}" class="btn btn-link">Alterar</a>
            </small>

            {{ p.nome }}
        </h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <p ng-bind-html="p.descricao"></p>
            </div>
        </div>
    </div>
</div>
